reports/
tests_output/
node_modules/
npm-debug.log.*
/.idea
.DS_Store
.env
public/application.js
public/fonts
views/images
public/application.js.gz
public/application.js.map
views/index.html
public/index.html
