@import 'CalendarDay';
@import 'CalendarMonth';
@import 'CalendarMonthGrid';
@import 'DayPicker';
@import 'DayPickerNavigation';
@import 'DateInput';
@import 'DateRangePicker';
@import 'DateRangePickerInput';
@import 'SingleDatePicker';
@import 'SingleDatePickerInput';

.DateInput {
  // font
  font-weight: 200;
  font-size: 18px;
  line-height: 24px;
  color: $react-dates-color-placeholder-text;
  margin: 0;
  padding: 8px;

  background: inherit;
  position: relative;
  display: inline-block;
  width: 160px;
  vertical-align: top;
  height: 38px;
}

.SingleDatePickerInput {
  background-color: inherit;
  border: 1px solid $react-dates-color-border;
}

.DateInput__display-text {
  padding: 0px 8px;
  white-space: nowrap;
  overflow: hidden;
  font-size : 16px;
}

.DateInput__display-text--has-input {
  color: "#fff";
}

.DateInput__display-text--focused {
  background: $react-dates-color-focus;
  border-color: $react-dates-color-focus;
  border-radius: 3px;
  color: "#fff";
}